* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gentium Book Plus", serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Peddana", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* ---------------------------- shared style -------------------------*/
.container {
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  gap: 15px;
}

.col-2 {
  width: 50%;
  padding: 10px;
}
.col-4 {
  width: 25%;
  padding: 10px;
}
.col-3 {
  width: 33.33%;
  padding: 10px;
}
/* 
ul {
  list-style: none;
} */
.text-primary {
  color: #e55473;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: none;
  cursor: pointer;
  padding: 20px 40px;
}
.paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}
.imgs {
  max-width: 100%;
  height: auto;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.ml-auto {
  margin-left: auto;
}
.m-auto {
  margin: auto;
}
.bg-blue {
  background: blue;
}
/* --------------------------------------header style here --------------------------------- */
header {
  background: rgba(229, 84, 115, 0.1);
  height: 85vh;
}

header .hero-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
header .paregraph {
  margin: 32px 0;
}
header .img-box {
  justify-content: end;
}

/* ----------------------------------- featured section ------------------------------------------ */
.featured-section {
  padding: 100px 0;
}

.featured-row {
  gap: 10px;
}
.section-top {
  margin: auto;
  padding: 0 80px;
}
.section-top .paragraph {
  margin: 25px 0;
  text-align: center;
}

.featured-box {
  margin: auto;
}
.featured-img {
  align-items: end;
  background-color: red;
  padding: 120px 0 0;
  border-radius: 300px 300px 0px 0px;
  height: 550px;
  margin-bottom: 32px;
}
.first-featured {
  background: rgba(167, 33, 98, 0.15);
}
.second-featured {
  background: rgba(5, 151, 160, 0.15);
}
.third-featured {
  background: rgba(71, 125, 17, 0.15);
}
.featured-content-main .tree-link a {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  display: block;
}
.singel-part {
  padding: 80px 120px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px 0 0;
}
.single-content {
  text-align: center;
}
.single-content span {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
/* ----------------------------------------- hot deals css here ------------------------------- */
.hot-deals {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}
.hot-deals h2 {
  color: #272727;
  font-size: 40px;

  font-weight: 800;
}
.hot-deals-content {
  width: 80%;
  text-align: center;
}

.hot-deal-bg .paragraph {
  margin: 32px 0;
}

.instagram {
  padding: 100px 0;
}

.find-img-box img {
  border-radius: 8px 8px 0 0;
}
.find-flower h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.find-flower h3 a {
  text-decoration: none;
  padding: 5px;
  border: 1px solid palevioletred;
  color: #e55473;
}
.insta-img-box img,
.find-img-box img {
  width: 100%;
}
/* ========================================= latest-deal-section============================================ */
.latest-deal-section {
  padding: 100px 0;
}
.latest-deal-bg {
  background: url("Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.latest-deal-content {
  text-align: center;
}
.latest-deal-content p {
  margin: 16px 0;
}
form .btn-primary {
  padding: 18px 30px;
}
.subscribe {
  width: 60%;
  display: flex;
  margin-top: 40px;
  gap: 15px;
}
.subscribe .email-bolx {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  outline: 0;
}
/*  ------------------------------------ unique section --------------------------  */
.my-unique-section {
  padding: 50px 0;
}
.find-img-box {
  box-shadow: 0 0 10px rgb(230, 230, 230);
}
.my-unique-section .find-img-box {
  box-shadow: none;
}
/* =================================== footer ---------------------------------------------- */
footer {
  padding: 100px 0;
  background-color: #111010;
  font-size: 48px;
  font-weight: 800;
}
.footer-content,
.footer-content .paragraph {
  color: white;
}
.footer-content {
  text-align: center;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.4) !important;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
